@import "tailwindcss";


:root {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-dark-950: #05070c;
  --color-dark-900: #090d16;
  --color-dark-800: #111827;
  --color-dark-700: #1f2937;

  --color-cyber-cyan: #00f2fe;
  --color-cyber-blue: #0070f3;
  --color-cyber-emerald: #10b981;
  --color-cyber-green: #00f5d4;
  --color-cyber-amber: #f59e0b;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: #05070c;
    color: #e2e8f0;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
}
.glass {
    background: rgba(9, 13, 22, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.glass-active {
    border: 1px solid rgba(0, 242, 254, 0.4) !important;
    box-shadow: 0 0 20px rgba(0, 242, 254, 0.15);
}
.text-glow-cyan {
    text-shadow: 0 0 10px rgba(0, 242, 254, 0.5);
}
.text-glow-green {
    text-shadow: 0 0 10px rgba(0, 245, 212, 0.5);
}
/* Premium minimal scrollbar customization */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #05070c;
}
::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #374151;
}
@keyframes pulse-slow {
    0%, 100% { opacity: 0.3; }
    50% { opacity: 0.8; }
}
.pulse-light {
    animation: pulse-slow 3s infinite ease-in-out;
}

